
<% if @user.errors.any? %>
  <div class="err_messe">
    <br>
    <p>ーー 登録失敗の原因 ーー</p>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
