
<% if @user.errors.any? %>
  <p>エラーの原因</p>
  <div class="err_messe">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
