// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#login_page {
    display: flex;
    padding: 10px;
    margin: 0px;
    justify-content: center;

    #login_container {
        height: 350px;
        width: clamp(485px, 90vw, 530px);
        min-width: 485px;
        background-color: rgb(174, 252, 226);
        padding: 50px;
        margin: 10px;

        #login_title {
            text-align: center;
            border-bottom: 1px solid;
        }
        
        #login_form_area {
            padding: 0px 100px;
            margin-top: 30px;

            #session_email {
                margin-left: 29px;
            }            
        }
    }    
}
