// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#signup_page {
    display: flex;
    padding: 10px;
    margin: 0px;
    justify-content: center;

    #signup_container {
        background-color: rgb(116, 226, 226);
        width: clamp(410px, 90vw, 600px);
        padding: 30px;
        margin: 10px;

        #title_area {
            padding: 0px 20px;

            #signup_title {
                text-align: center;
                border-bottom: 1px solid;
            }            
        }
        
        #signup_form_area {
            display: flex;
            justify-content: center;
        
            padding: 0px 100px;
        }
        
        #boxes {
            padding: 0px 40px;
        
            #err_box {
                margin-left: 10vw;
            }
        }
    }   
}
