// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#err_name {
    display: none;
    font: red;
}

#err_email {
    display: none;
    font: red;
}

#err_pass {
    display: none;
    font: red;
}

#err_passcon {
    display: none;
    font: red;
}